# Default behavior, if core.autocrlf is unset.
* text=auto

# Files to be converted to native line endings on checkout.
*.cpp text
*.h text

# Text files to always have LF (unix) line endings on checkout.
*.zig text eol=lf
